In [1]:
import pandas as pd
import numpy as np
from downloaded_data_preprocessing import appetibility_index

In [2]:
history_original = pd.read_csv('../dataset/player_history^(Stagione 2021_22).csv',index_col=[0])

In [3]:
dixon_coles = pd.read_csv('../dataset/dixon_coles^(Stagione 2021_22).csv',index_col=[0])

In [4]:
player_info = pd.read_csv('../dataset/stat_info^(Stagione 2021_22).csv',index_col=[0])

In [5]:
propensity_df = appetibility_index(history_original, dixon_coles, player_info)

C:\Users\dando\OneDrive\Desktop\FantaStat\data preprocessing\downloaded_data_preprocessing.py:157: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ha_gol_subito['Gs'] = (ha_gol_subito['Gs']>0)

In [6]:
propensity_df.head()

,easy_gambe_bonus,Amm,Esp,ha_bonus,ha_voto,Infortunato,Gs,Nome,Ruolo
207,0.308670,0.714286,1.0,0.956522,0.815789,0.837838,1.0,Immobile Ciro,A
0,0.258297,0.357143,1.0,0.695652,0.973684,1.000000,1.0,Abraham Tammy,A
407,0.238195,0.500000,1.0,0.565217,0.842105,1.000000,1.0,Scamacca Gianluca,A
277,0.238044,0.571429,1.0,0.739130,0.868421,1.000000,1.0,Martinez Lautaro,A
352,0.235492,0.714286,1.0,0.521739,0.947368,1.000000,1.0,Pinamonti Andrea,A

In [55]:
appettiblity.loc[appettiblity.Ruolo=='C'].sort_values('appetibility').tail(10)

    Ruolo                     Nome  appetibility
45      C       Mkhitaryan Henrikh      0.631489
112     C           Barella Nicolò      0.646020
37      C            Bajrami Nedim      0.648406
47      C              Ruiz Fabian      0.653228
55      C         Candreva Antonio      0.656424
54      C          Zielinski Piotr      0.669835
24      C             Perisic Ivan      0.712120
42      C          Felipe Anderson      0.717702
22      C            Pasalic Mario      0.726152
11      C  Milinkovic-Savic Sergej      0.817498