In [1]:
import pandas as pd
import numpy as np
from dixon_coles_model import solve_parameters
#https://www.football-data.co.uk/italym.php

In [2]:
data = pd.read_csv('https://www.football-data.co.uk/mmz4281/2122/I1.csv',index_col=[0])

In [3]:
model_data = data[['Date','HomeTeam','AwayTeam','FTHG','FTAG']].rename(columns= {'FTHG':'HomeGol','FTAG':'AwayGol'})

In [4]:
coef_df, rho, home = solve_parameters(model_data,xi=0.0015)

C:\Users\dando\OneDrive\Desktop\FantaStat\data preprocessing\dixon_coles_model.py:25: RuntimeWarning: divide by zero encountered in log
  return ( np.exp(-xi*t) * np.log(rho_correction(x, y, lambda_x, lambda_y, rho) ) +  np.log(poisson_density(x, lambda_x) ) + np.log(poisson_density(y, lambda_y) ) )
C:\Users\dando\OneDrive\Desktop\FantaStat\data preprocessing\dixon_coles_model.py:25: RuntimeWarning: invalid value encountered in log
  return ( np.exp(-xi*t) * np.log(rho_correction(x, y, lambda_x, lambda_y, rho) ) +  np.log(poisson_density(x, lambda_x) ) + np.log(poisson_density(y, lambda_y) ) )

Optimization terminated successfully    (Exit mode 0)
            Current function value: 1074.8862479169632
            Iterations: 55
            Function evaluations: 2448
            Gradient evaluations: 55

In [5]:
coef_df = coef_df.reset_index()
coef_df['name'] = coef_df['index'].apply(lambda x: x.upper()[0:3])
coef_df = coef_df.set_index('index')
coef_df.index.name = None

In [6]:
coef_df['Home'] = home

In [7]:
coef_df.to_csv('../dataset/dixon_coles^(Stagione 2021_22).csv')

In [8]:
coef_df

             Atk_Params  Def_Params name     Home
Atalanta       1.237224   -0.864037  ATA  0.09751
Bologna        0.854795   -0.749996  BOL  0.09751
Cagliari       0.606641   -0.548729  CAG  0.09751
Empoli         0.997796   -0.505162  EMP  0.09751
Fiorentina     1.137977   -0.819272  FIO  0.09751
Genoa          0.373842   -0.676471  GEN  0.09751
Inter          1.479103   -1.254799  INT  0.09751
Juventus       1.091241   -1.139553  JUV  0.09751
Lazio          1.417590   -0.666262  LAZ  0.09751
Milan          1.280866   -1.306375  MIL  0.09751
Napoli         1.345773   -1.302343  NAP  0.09751
Roma           1.135104   -0.987442  ROM  0.09751
Salernitana    0.581636   -0.414764  SAL  0.09751
Sampdoria      0.901045   -0.613511  SAM  0.09751
Sassuolo       1.237082   -0.549042  SAS  0.09751
Spezia         0.794788   -0.502437  SPE  0.09751
Torino         0.878493   -1.047473  TOR  0.09751
Udinese        1.179727   -0.681598  UDI  0.09751
Venezia        0.605239   -0.535258  VEN  0.09751
Verona         1.245066   -0.660679  VER  0.09751